body {
	background-color: #f2f2f2;
	padding-top:20px;
	padding-left:20px;
	width: 100%;
  height: 100%;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.weather-app {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loading{
	text-align: center;
}

.header{
	height: 75px
}

.header-logo{
	float: left;
	width: 150px;
}

.location-search{
	float: right; padding-top: 12px;
}

.today {
	position:relative;
	background-color: #f2f9ff;
	border-radius: 25px;
	border: 3px solid #73AD21;
	width: 600px;
	height: 201px;
	box-shadow: 5px 5px 10px #888888;
}

.today-left {
	position:absolute;
	float: left;
	background-color: #f2f9ff;
	width: 320px;
	height: 200px;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 10px;
	z-index: 1;
	top: -2px;
	left: -2px;
	box-shadow: 5px 5px 10px #888888;
}

.today-left-data-container{
	float: right;
	position: relative;
	left: -10px
}

.today-left-temperature{
	position: relative;
	font-size: 40px;
}

.today-left-data-small{
	position: relative;
	font-size: small;
}

.today-right {
	position:relative;
	float: right;
	width: 320px;
	height: 200px;
	z-index: 0;
}

.today-map {
	width:320px;
	height:196px;
	border-radius: 25px;
}

.current-icon{
	float: left;
	padding-top: 10px;
	width: 125px;
}

.forecast-days {
	position:relative;
	height: 220px;
	width: 600px;
	padding-top: 10px;
}

.day {
	float: left;
	background-color: #f2f9ff;
	border-radius: 15px;
	border: 3px solid #73AD21;
	width: 100px;
	height: 200px;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 10px #888888;
	margin: auto;
	padding-top: 5px;
}

.day-active {
	float: left;
	background-color: #f2f9ff;
	border-radius: 15px;
	border: 3px solid #ff6d0b;
	width: 100px;
	height: 200px;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 10px #888888;
	margin: auto;
	padding-top: 5px;
}

.day:hover {
	border: 3px solid #ff6d0b;
}

.day-high {
	color: #ff0000;
	font-size: small;
	padding-bottom: 5px;
}

.day-low {
	color: #0000ff;
	font-size: small;
	padding-bottom: 5px;
}

.day-summary {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: x-small;
}

.day-spacer {
	float: left;
	padding: 12.5px;
}

.weather-footer {
	background-color: #f2f9ff;
	border-radius: 25px;
	border: 3px solid #ff6d0b;
	width: 600px;
	height: 200px;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 5px 5px 10px #888888;
}

.weather-icon {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 75px;
	height: 75px;
}

.loading-icon {
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: auto;
  margin-bottom: auto;
}

.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
.gm-bundled-control .gmnoprint {
  display: block;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}
